:root {
    --verde-pino: #396066;
    --cian: #004c4d;
    --cian-claro: #006f71;
    --gris-claro: #f2f2f2;
    --gris:  rgb(210, 210, 210);
    --blanco: white;
    --orange: orange;
}
/*Css general*/
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    font-size: 2.3rem;
    text-align: center;
}
h2{
    font-size: 2rem;
    text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.flex-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.flex-left{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.conteiner{
    width: 100vw;
    height: 100vh;
    background-color: var(--cian);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gris{
    background-color: var(--gris);
}
#error404{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cian);
    color: var(--gris-claro);
}
#error{
    color: red;
}
#succesful{
    color: green;
}
.back{
    position: absolute;
    bottom: 3%;
    left: 2%;
}
#Link{
    background-color: var(--gris-claro);
    color: var(--cian);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
}
#Link:hover{
    cursor: pointer;
    color: var(--orange);
}
/*Registro*/
.form-registro{
    background-color: rgb(231, 231, 231);
    height: 90%;
    max-height: 700px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 10px 20px;
}
.form-registro h1{
    color: var(--cian);
}
.conteiner-inputs{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 20px;
}
.div-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-rut{
    display: flex;
    gap: 5px;
}
label, span{
    color: rgb(110, 107, 107);
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
input{
    font-size: 20px;
    width: 100%;
    padding: 1px 1px 1px 5px;
}
#dv{
    width: 30px;
}
#prevision, #especialidad, #dia,#hora{
    height: 30px;
    width: 100%;
    font-size: 20px;
}
#submit{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: var(--cian);
    color: var(--blanco);
}
#submit:hover{
    border: none;
    cursor: pointer;
    background-color: var(--cian-claro);
}
/*Login*/
.conteiner-form{
    background-color: rgb(231, 231, 231);
    height: 90%;
    max-height: 500px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 10px 20px;
}
.conteiner-form h1{
    color: var(--cian);
}
.conteiner-form .conteiner-inputs{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 20px;
    gap: 20px;
}
.flex-left p{
    font-style: italic;
    font-size: 14px;
    color: var(--cian);
}
.flex-left p:hover{
    cursor: pointer;
    color: var(--cian-claro);
}
#link-register{
    color: var(--cian);
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}
#link-register:hover{
    color: var(--cian-claro);
    cursor: pointer;
}
/* HOME */
.navigation-bar{
    width: 100%;
    height: 90px;
    background-color: var(--cian);
    position: absolute;
    top: 0px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation-bar ul{
    width: 95%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    gap: 5px;
}
@media (max-width: 400px) {
    .navigation-bar{
        height: 150px;
    }
    .navigation-bar ul{
        display: flex;
        flex-direction: column;
    }
}
.navigation-bar ul li{
    cursor: pointer;
    background-color: var(--gris);
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
}
.navigation-bar ul li:hover{
    color: var(--orange);
    transition: all ease-in-out 0.2s;
    position: relative;
    top: -2px;
}
.user-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*ADMINISTRAR*/
.box{
    width: 95%;
    max-width: 600px;
    height: 95%;
    max-height: 600px;
    background-color: var(--gris);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
}
.form-add-medico{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.form-add-medico h1{
    color: var(--cian);
    width: 100%;
}
/*AGREGAR DISPONIBILIDAD*/
.conteiner-form h2{
    color: var(--cian);
}

.inputs-availibility{
    width: 100%;
}
#dia, 
#hora_inicio,
#hora_fin{
    width: 100%;
}
/*ANULAR HORA*/
.conteiner-displayer{
    width: 95%;
    max-width: 600px;
    height: 95%;
    max-height: 600px;
    background-color: var(--gris);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 20px;
}
.conteiner-displayer h2{
    color: var(--cian);
}
.conteiner-displayer ul{
    list-style: none;
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.conteiner-displayer ul li{
    background-color: var(--orange);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.conteiner-displayer ul li span{
    color: rgb(50, 50, 50);
}
#delete{
    border-radius: 5px;
}
#delete:hover{
    cursor: pointer;
    background-color: red;
}
#Confirmed:hover{
    cursor: pointer;
    fill:  green;
}